# URL del backend (Spring Boot)
VITE_API_URL=https://tu-backend.onrender.com

# URL del frontend (Vercel)
APP_URL=https://tu-frontend.vercel.app

# URIs internas opcionales
VITE_URI_LOGIN=/intranet/home
